{% extends 'base.html' %}

{% block content %}
    <h1>{% if form.instance.pk %}Editar Livro{% else %}Novo Livro{% endif %}</h1>

        <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9;
            color: #333;
            text-align: center;
            padding: 20px;
        }

        h1 {
            font-size: 3em;
            color: #2c3e50;
            margin-bottom: 20px;
        }

        .intro {
            background-color: #ecf0f1;
            padding: 20px;
            margin: 20px 0;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .intro h2 {
            color: #3498db;
        }

        .links {
            margin-top: 30px;
        }

        .btn {
            text-decoration: none;
            background-color: #3498db;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            margin: 10px;
            display: inline-block;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #2980b9;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #fff;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        li a {
            text-decoration: none;
            color: #3498db;
            margin-right: 15px;
            transition: color 0.3s ease;
        }

        li a:hover {
            color: #2980b9;
        }
    </style>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>

    <a href="{% url 'livro_list' %}">Cancelar</a>
{% endblock %}